<!--
  Template: photo.hbs
  Description:
    This Handlebars template displays the details of a single photo,
    including its title, description, and the image itself.

  Template variables:
    - photo: An object representing the photo, containing:
        - id: Unique photo identifier (used for the edit link).
        - title: Title of the photo.
        - description: Description of the photo.
        - filename: Filename of the photo (used to display the image).

  Functionality:
    - Provides a link to edit the photo at /photo/:id/edit.
    - Displays the photo image from the /photos route.
    - Uses a max-width of 300px to limit the displayed image size.
-->



<!doctype html>
<html>
<head><meta charset="utf-8"><title>Photo Details</title></head>
<body>
  <h1>Photo Details</h1>
  <p><a href="/photo/{{photo.id}}/edit">edit</a></p>
  <p>Title: {{photo.title}}</p>
  <p>Description: {{photo.description}}</p>
  {{!-- <img src="/photos/{{photo.image}}" alt="{{photo.title}}" style="max-width:300px;"> --}}
  <img src="/photos/{{photo.filename}}" alt="{{photo.title}}" style="max-width:300px;">

</body>
</html>
